:root {
  font-family: "Didact Gothic", sans-serif;
  --grogu-green: #a4c4a4;
  --logo-black: #000000;
  --logo-yellow: #ffe81f;
  --mandalorian-red: #c83444;
  --mandalorian-orange: #f7ad90;
  --mandalorian-armor: #62542a;
  --mandalorian-brown: #ae7652;
  --mandalorian-darkbrown: #573d2b;
  --ash-grey-rgb: 226, 226, 226;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  line-height: 2;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--mandalorian-brown);
}

/* header style */
.header {
  background-color: var(--mandalorian-darkbrown);
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-link-logo {
  display: flex;
  align-items: center;
}

.nav-link-logo:hover {
  border-radius: 30px;
  box-shadow: 0 0 1rem 0.5rem var(--grogu-green);
  background-color: var(--grogu-green);
}

.logo-img {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
}

.nav-link {
  font-family: "DotGothic16", sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--mandalorian-orange);
  padding-bottom: 0.5rem;
}

.nav-link:hover {
  border-radius: 0.5rem;
  border-bottom: 0.2rem solid var(--mandalorian-darkbrown);
  box-shadow: 0 0 1rem 0.5rem var(--grogu-green);
  background-color: var(--grogu-green);
  color: var(--mandalorian-red);
}

/* footer */
.footer {
  background-color: var(--mandalorian-darkbrown);
  font-size: 1.6rem;
  padding: 2rem 0rem;
  text-align: center;
  color: var(--mandalorian-orange);
  letter-spacing: 0.3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.contact-link {
  text-decoration: none;
  color: var(--mandalorian-orange);
  margin: 0.5rem 0;
}

.contact-link:hover {
  border-radius: 0.5rem;
  border-bottom: 0.2rem solid var(--mandalorian-darkbrown);
  box-shadow: 0 0 1rem 0.5rem var(--grogu-green);
  background-color: var(--grogu-green);
  color: var(--mandalorian-red);
}

/* main section style */
.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
}

/* content section styles */
.content-section {
  letter-spacing: 0.6rem;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
  color: var(--logo-black);
  box-shadow: 0rem 0rem 0.7rem 0.7rem rgba(var(--ash-grey-rgb), 0.3);
}

.content-section-title {
  font-size: 4rem;
}

.content-section-info {
  font-size: 2rem;
}

/* button styles */
.btn-control {
  padding: 2rem 1rem;
  text-align: center;
}

.btn {
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 0.4rem;
  min-width: 16rem;
  text-transform: uppercase;
  color: var(--mandalorian-red);
  background-color: var(--mandalorian-orange);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--mandalorian-red);
  color: var(--mandalorian-orange);
  box-shadow: 0.5rem 0.5rem 0.7rem rgba(var(--ash-grey-rgb), 0.3);
}
